.control-group-error .control-label,
.control-group-error .help-block,
.control-group-error .help-inline {
  color: #b94a48;
}

.control-group-error .checkbox,
.control-group-error .radio,
.control-group-error input,
.control-group-error select,
.control-group-error textarea {
  color: #b94a48;
}

.control-group-error input,
.control-group-error select,
.control-group-error textarea {
  border-color: #b94a48;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.control-group-error input:focus,
.control-group-error select:focus,
.control-group-error textarea:focus {
  border-color: #953b39;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
}

.control-group-error .input-prepend .add-on,
.control-group-error .input-append .add-on {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #b94a48;
}
