/**************************************/
/*              GLOBALS               */
/**************************************/

body{ color: #404040; overflow-y: scroll; }

a:link { color: #057080; }
a:hover { color: #EB6C20; }
hr { margin:0px; }

a:link.negative {
  color: #D12F19;
}

a:link.positive {
  color: #529214;
}

#content {
  margin-top: 10px;
  padding: 0px 4px 4px 4px;
  background-color: #FFF;
}

pre {
 overflow-x: auto; /* Use horizontal scroller if needed; for Firefox 2, not needed in Firefox 3 */
 white-space: pre-wrap; /* css-3 */
 white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
 white-space: -pre-wrap; /* Opera 4-6 */
 white-space: -o-pre-wrap; /* Opera 7 */
 /* width: 99%; */
 word-wrap: break-word; /* Internet Explorer 5.5+ */
 color: #404040;
}

pre {
  padding-left: 20px;
  margin: 0px;
}

table.blank, table.blank tr, table.blank td, table.blank th {
  border:0px;
  border-collapse:collapse;
  margin:0px;
  padding:0px;
}

table.padded td, table.padded.th {
  padding:5px;
}

.field_with_errors, .field_with_errors_cleared {
  display: inline;
}

.field_with_errors input, .field_with_errors textarea, .field_with_errors select {
  background-color: #FB4E50;
}

.fieldset_with_errors {
  background-color: #F9E8E8;
  border-color: #FB4E50;
}

.fieldset_with_errors legend {
  background-color: #F9E8E8;
  border: 1px solid #FB4E50;
}

.field_with_errors_cleared input, .field_with_errors_cleared textarea {
/*  background-color: #66FF66;*/
}