/**************************************/
/*             NAVIGATION             */
/**************************************/

#menu ul.ul-menu {
  margin: 0px;
  list-style: none;
/*  height: 1em;*/
  position: relative;
  z-index: 1;
}

#menu ul.ul-menu li {
  margin-left: 0px;
  display: block;
/*  float: left;*/
  position: relative;
  padding: 0px 5px;
}

#menu ul.ul-menu li.li_left {
/*  display: block;*/
  float: left;
  z-index: 1;
/*  position: relative;*/
}

#menu ul.ul-menu li.li_right {
/*  display: block;*/
  float: right;
  z-index: 1;
/*  position: relative;*/
}

#menu ul.ul-menu li ul {
  list-style: none;
  position: relative;
  top: 16px;
  
  padding: 8px 5px 5px 5px;
  margin: 0px -5px;
  
  border-bottom-right-radius: 8px;
  -moz-border-radius-bottomright: 8px;
  -webkit-border-radius-bottomright: 8px;
  
  border-bottom-left-radius: 8px;
  -moz-border-radius-bottomleft: 8px;
  -webkit-border-radius-bottomleft: 8px;
  
  -moz-box-shadow: 0px 5px 5px #666;
  -webkit-box-shadow: 0px 5px 5px #666;
  box-shadow: 0px 5px 5px #666;
}

#menu ul.ul-menu li.li_left ul {
  left: 0px;
  color: black;
/*  border: 1px solid #404040;*/
  background-color: #404040;
  position: absolute;
  display: none;
}

#menu ul.ul-menu li.li_right ul {
  right: 0px;
  color: black;
/*  border: 1px solid #404040;*/
  background-color: #404040;
  position: absolute;
  display: none;
  text-align: right;
}


#menu ul.ul-menu li ul li {
  white-space: nowrap;
  padding-left: 5px;
  padding-right: 5px;
}

#menu {
	background:#404040;
  padding:5px;
	color: #fff;
	
  -moz-border-radius-bottomright: 8px;
  -webkit-border-radius-bottomright: 8px;
	border-bottom-right-radius: 8px;
  
  -moz-border-radius-bottomleft: 8px;
  -webkit-border-radius-bottomleft: 8px;
  border-bottom-left-radius: 8px;
  
	-moz-box-shadow: 0px 5px 5px #666;
  -webkit-box-shadow: 0px 5px 5px #666;
  box-shadow: 0px 5px 5px #666;  
}

.sticky {
  position:fixed;
  top:0;
  width:950px;
  margin:0 auto;
  z-index:100;
}

#menu a {
  color: #fff;
  text-decoration: none;
  padding:0 5px;
}

#menu a:hover {
  color: #EB6C20;
}

/*div.menu_dropdown_right, div.menu_dropdown_right_center {
  background-color: #fff;
  position:absolute;
  border: 2px solid #0E7799;
  color: #404040;
  border-top: 0px;
  top:-2em;
  padding:5px;
  padding-right:8px;
  right:-5px;
  z-index:10;
  text-align:right;
}
*/
/*div.menu_dropdown_left, div.menu_dropdown_left_center {
  background-color: #fff;
  position:absolute;
  border: 2px solid #0E7799;
  color: #404040;
  border-top: 0px;
  top:-2em;
  padding:5px;
  padding-left:8px;
  left:-5px;
  z-index:10;
  text-align: left;
}
*/
/*#menu div.menu_dropdown_left a, #menu div.menu_dropdown_left_center a, #menu div.menu_dropdown_right a, #menu div.menu_dropdown_right_center a {
  color: #057080;
  padding-left: 0px;
  padding-right: 0px;
}

#menu div.menu_dropdown_left a:hover, #menu div.menu_dropdown_left_center a:hover, #menu div.menu_dropdown_right a:hover, #menu div.menu_dropdown_right_center a:hover {
  color: #EB6C20;
}*/
