/**************************************/
/*             NAVIGATION             */
/**************************************/

#menu ul.ul-menu {
  margin: 0px;
  list-style: none;
  position: relative;
  z-index: 1;
}

#menu ul.ul-menu li {
  margin-left: 0px;
  display: block;
/*  float: left;*/
  position: relative;
  padding: 0px 5px;
}

#menu ul.ul-menu li.li_left {
/*  display: block;*/
  float: left;
  z-index: 1;
/*  position: relative;*/
}

#menu ul.ul-menu li.li_right {
/*  display: block;*/
  float: right;
  z-index: 1;
/*  position: relative;*/
}

#menu ul.ul-menu li ul {
  list-style: none;
/*  position: relative;*/
  top: 16px;
  
  padding: 8px 5px 5px 5px;
  margin: 0px -5px;
  
  border-bottom-right-radius: 8px;
  -moz-border-radius-bottomright: 8px;
  -webkit-border-radius-bottomright: 8px;
  
  border-bottom-left-radius: 8px;
  -moz-border-radius-bottomleft: 8px;
  -webkit-border-radius-bottomleft: 8px;
  
  -moz-box-shadow: 0px 5px 5px #666;
  -webkit-box-shadow: 0px 5px 5px #666;
  box-shadow: 0px 5px 5px #666;

  background-color: #404040;
  position: absolute;
  display: none;
}

#menu ul.ul-menu li.li_left ul {
  left: 0px;
}

#menu ul.ul-menu li.li_right ul {
  right: 0px;
  text-align: right;
}


#menu ul.ul-menu li ul li {
  white-space: nowrap;
  padding-left: 5px;
  padding-right: 5px;
}

#menu {
	background:#404040;
  padding:5px;
	color: #fff;
	
  -moz-border-radius-bottomright: 8px;
  -webkit-border-radius-bottomright: 8px;
	border-bottom-right-radius: 8px;
  
  -moz-border-radius-bottomleft: 8px;
  -webkit-border-radius-bottomleft: 8px;
  border-bottom-left-radius: 8px;
  
	-moz-box-shadow: 0px 5px 5px #666;
  -webkit-box-shadow: 0px 5px 5px #666;
  box-shadow: 0px 5px 5px #666;  
}

.sticky {
  position:fixed;
  top:0;
  width:950px;
  margin:0 auto;
  z-index:100;
}

#menu a {
  color: #fff;
  text-decoration: none;
  padding:0 5px;
}

#menu a:hover {
  color: #EB6C20;
}