<h1>Contour Details</h1>

<p>
  <b>Contour Version:</b>
  <%= Contour::VERSION::STRING %>
</p>

<h2>Application Details</h2>

These items can all be specified in:<br />
<br />
<code style="margin-left:10px">config/initializers/contour.rb</code><br />
<br />
If the file does not exist run:<br />
<br />
<code style="margin-left:10px">rails generate contour:install</code><br />
<br />
<% unless request.script_name.blank? %>
  <p><b>Subdomain:</b>
    <%= request.script_name %>
  </p>
<% end %>
<% (Contour.class_variables.collect{|v| v.to_s.gsub('@@','')} - ['menu_items']).each do |attribute| %>
  <p>
    <b><%= attribute.titleize %>:</b>
    <% if Contour.send(attribute).blank? %>
      <span class="quiet">NULL</span>
    <% else %>
      <%= Contour.send(attribute) %>
    <% end %>
  </p>
<% end %>