<% unless @news_feed.blank? %>
  <fieldset>
    <legend>Latest News!</legend>
    
    <h4><%= link_to @news_feed.channel.title, @result.channel.link %></h4>
    <br />
    <% @news_feed.items.each_with_index do |item, i| %>
      <% if i < 10 %>
        <div class="field">
          <label><%= link_to item.title, item.link %></label><br />
          <ul style="list-style: none"><li><%= item.description.gsub("[...]", link_to('[read more]', item.link)).html_safe %></li></ul>
        </div>
      <% end %>
    <% end %>
  </fieldset>
<% end %>